---
packages:
  java:
    - if_platform: [linux, windows, macosx]
      actions:
        - url: http://nas-n.mgt.couchbase.com/builds/downloads/jdk/jdk-${VERSION}-${PLATFORM}-x64.tar.gz
        - unarchive:

  python:
    - if_platform: [linux, macos]
      actions:
        - run: |
            git clone git://github.com/pyenv/pyenv.git ${HOME}/.pyenv 2>/dev/null || true
            cd ${HOME}/.pyenv && git pull
            ${HOME}/.pyenv/bin/pyenv install ${VERSION}
          fixed_dir: ${HOME}/.pyenv/versions/${VERSION}
        - run: |
            ${FIXED_DIR}/bin/python -m venv ${INSTALL_DIR}/python${VERSION}

    - if_platform: [windows]
      actions:
        - url: https://www.python.org/ftp/python/${VERSION}/python-${VERSION}-amd64.exe
        - run: start /wait ${DL} /quiet Include_doc=0 Include_launcher=0 Include_tcltk=0 Shortcuts=0 TargetDir=${FIXED_DIR}
          fixed_dir: C:\Python${VERSION}
        - run: |
            ${FIXED_DIR}\python.exe -m venv ${INSTALL_DIR}\python${VERSION}

  golang:
    - if_platform: [linux, darwin]
      actions:
        - url: https://dl.google.com/go/go${VERSION}.${PLATFORM}-amd64.tar.gz
        - unarchive:
    - if_platform: windows
      actions:
        - url: https://dl.google.com/go/go${VERSION}.windows-amd64.zip
        - unarchive:

  dotnet-core-sdk:
    - if_platform: [linux, windows, macos]
      if_versions: "2.0+"
      actions:
        - url: https://www.microsoft.com/net/download/thank-you/dotnet-sdk-${VERSION}-${PLATFORM}-x64-binaries
          scrape_html: window.open\("(.*?)"
        - unarchive:
          add_dir: dotnet-core-sdk-${VERSION}

  dotnet-core-runtime:
    - if_platform: [linux, windows, macos]
      actions:
        - url: https://www.microsoft.com/net/download/thank-you/dotnet-runtime-${VERSION}-${PLATFORM}-x64-binaries
          scrape_html: window.open\("(.*?)"
        - unarchive:
          add_dir: dotnet-core-runtime-${VERSION}

  docker:
    - if_platform: [linux, mac]
      actions:
        - url: https://download.docker.com/${PLATFORM}/static/stable/x86_64/docker-${VERSION}-ce.tgz
        - unarchive: