---
packages:
  - name: java
    downloads:
      - platform: [linux, windows, macosx]
        url: http://nas-n.mgt.couchbase.com/builds/downloads/jdk/jdk-${VERSION}-${PLATFORM}-x64.tar.gz

  - name: python
    downloads:
      - platform: [centos6, centos7, ubuntu14.04, ubuntu16.04]
        url: http://latestbuilds.service.couchbase.com/builds/latestbuilds/cbdeps/python/${VERSION}/python-${PLATFORM}-x86_64-${VERSION}-cb1.tgz
        override_dir: /opt/cbdeps
      - platform: [windows]
        url: https://www.python.org/ftp/python/${VERSION}/python-${VERSION}-amd64.exe
        install: start /wait ${DL} /quiet Include_doc=0 Include_launcher=0 Include_tcltk=0 Shortcuts=0 TargetDir=${INSTALLDIR}
        uninstall: start /wait ${DL} /quiet /uninstall

  - name: golang
    downloads:
      - platform: [linux, darwin]
        url: https://dl.google.com/go/go${VERSION}.${PLATFORM}-amd64.tar.gz
      - platform: windows
        url: https://dl.google.com/go/go${VERSION}.windows-amd64.zip

  - name: dotnet-core-sdk
    downloads:
      - platform: [linux, windows, macos]
        url: https://www.microsoft.com/net/download/thank-you/dotnet-sdk-${VERSION}-${PLATFORM}-x64-binaries
        scrape_html: window.open\("(.*?)"
        add_dir: dotnet-core-sdk-${VERSION}

  - name: dotnet-core-runtime
    downloads:
      - platform: [linux, windows, macos]
        url: https://www.microsoft.com/net/download/thank-you/dotnet-runtime-${VERSION}-${PLATFORM}-x64-binaries
        scrape_html: window.open\("(.*?)"
        add_dir: dotnet-core-runtime-${VERSION}

  - name: docker
    downloads:
      - platform: [linux, mac]
        url: https://download.docker.com/${PLATFORM}/static/stable/x86_64/docker-${VERSION}-ce.tgz
